element.style {
    font-weight: bold;
}

header {
    background: #F26D21;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    padding: 8px 16px;
    text-decoration: none;
    display: inline-block;
    margin: 10px 0;
}

a {
    color: #0E71EB;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #0956b5;
}

a {
    color: #428bca;
    text-decoration: none;
}

a {
    background: transparent;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#content-wrapper {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
    padding-top: 70px;
    color: #232333;
}

#launch_container {
    margin: 0 auto;
    text-align: center;
    max-width: 1250px;
}


body {
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}